page-login {
  .content{
    background: #fff;
  }
  .login-wrap {
    padding: 37px;
  }
  .logo {
    width: 41px;
    height: 44px;
  }
  .login-text {
    color: #222222;
    margin-top: 46px;
    margin-bottom: 20px;
  }
  .forgot {
    text-align: left;
    font-size: 12px;
    margin-top: 12px;
  }
}
