page-forget {
  .content{
    background: #fff;
  }
  .scroll-content {
    padding: 10vw;
  }
  h2 {
    font-size: 2.3rem;
    font-weight: normal;
  }
  .item {
    margin-top: 100px;
    margin-bottom: 32px;
    padding: 0;
  }
}
