<!--
  Generated template for the InformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>通知详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <loading mess="暂无数据" [status]="company" *ngIf="!company else entry"></loading>
  <ng-template #entry>
    <ion-card no-margin>
      <ion-card-header>
        <h2>{{company.title}}</h2>
        <p>{{navParams.get('noticeTime')}}</p>
      </ion-card-header>
      <ion-card-content class="informcon">
        <p>公司各部门：</p>
        <p>{{company.content}}</p>
        <p>特此通知!</p>
        <p line-bottom>七天教育科技有限公司</p>
      </ion-card-content>
    </ion-card>
    <ion-card no-margin class="attachment" *ngIf="company.attachments">
      <ion-card-header>
        <h2>附件列表</h2>
      </ion-card-header>
      <ion-card-content>
        <ion-item (touch)="see(val)" no-padding *ngFor="let val of company.attachments;let id = index">
          <ion-icon name="iattachment" item-start></ion-icon>
          <h2 class="font16">{{val.name}}</h2>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
