page-revenuet {
  .trendHead {
    width: 100%;
    height: 44px;
    padding: 20px 16px 0;
    position: absolute;
    top: 0;
    z-index: 99;
    .icon {
      font-size: 2.8rem;
    }
  }
  .content {
    background: #fff;
    .trend-header {
      padding: 16px 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .trend-btn {
        align-self: center;
        font-size: 0;
        button {
          border: 1px solid color($colors, primary);
          color: color($colors, gray9);
          background: #fff;
          height: 25px;
          line-height: 25px;
          width: 70px;
          &:first-of-type {
            border-radius: 2px 0 0 2px;
          }
          &:last-of-type {
            border-radius: 0 2px 2px 0;
          }
        }
        .checked {
          color: #fff;
          background: color($colors, primary);
        }
      }
      div:nth-child(1) {
        font-size: 1.7rem;
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
    .trend-footer {
      padding: 10px 0;
      display: flex;
      align-items: center;
      border-top: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
      position: absolute;
      bottom: 0;
      width: 100%;
      &>button {
        padding: 0px 8px;
        background: #fff;
        font-size: 1.4rem;
        color: color($colors, text);
        border-right: 1px solid #dadada;
      }
      &>button.checked {
        color: color($colors, primary);
      }
    }
  }
}
