img-lazy {
  .show{
    width: 54px;
    height: 54px;
    margin-right: 10px;
  }
  a{
    width: 54px;
    height: 54px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    background: #f2f2f2;
  }
}
