<!--
  Generated template for the UnioncreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-backdrop *ngIf="modal" tappable (touch)="modal=!modal"></ion-backdrop>
<div *ngIf="modal" [class.isover]="more" (onChanged)="changed($event)" class="alertcon" [style.height.px]="!more?48*select.option.length+24:'400'"
  delegate="button" passive="false" alive="true">
  <button *ngFor="let val of select.option;" [value]="val">
    <i></i>
    <span>{{val}}</span>
  </button>
</div>
<ion-header>
  <ion-navbar>
    <ion-title>联考工单</ion-title>
    <ion-buttons end>
      <button clear icon-only ion-button [navPush]="pages.notice">
        <ion-icon color="primary" name="ios-help-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="formgroup">
    <ion-item-group class="groupcover">
      <ion-item>
        <ion-label fixed>平台名称</ion-label>
        <ion-input type="text" formControlName="platform" placeholder="请填写平台名称"></ion-input>
      </ion-item>
      <button ion-item (touch)="alert('1')">
        <ion-label>考试类型</ion-label>
        <ion-note item-end color="text">{{select.etype}}</ion-note>
      </button>
      <ion-item *ngIf="link.isrucode">
        <ion-label fixed>组织代码</ion-label>
        <ion-input maxlength="9" type="tel" formControlName="orgCode" placeholder="请填写组织代码"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>考试名称</ion-label>
        <ion-input type="text" formControlName="examName" placeholder="请填写考试名称"></ion-input>
      </ion-item>
      <button ion-item (touch)="alert('4')">
        <ion-label fixed>考试渠道</ion-label>
        <ion-note item-end color="text">{{select.mulexam}}</ion-note>
      </button>
      <button ion-item (touch)="alert('5')">
        <ion-label fixed>考试年级</ion-label>
        <ion-note item-end color="text">{{select.grade || '请选择考试年级'}}</ion-note>
      </button>
      <ion-item>
        <ion-label>考试时间</ion-label>
        <ion-note color="text" item-end>
          <a (touch)="time('1')" ion-text color="primary">{{event.st||'开始时间'}}</a>
          至
          <a (touch)="time('2')" ion-text color="primary">{{event.et||'结束时间'}}</a>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label fixed>考试联系人</ion-label>
        <ion-input type="text" formControlName="contact" placeholder="请填写考试联系人"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>联系方式</ion-label>
        <ion-input type="text" formControlName="contactWay" placeholder="请填写联系方式"></ion-input>
      </ion-item>
      <button ion-item (touch)="alert('2')">
        <ion-label>是否收费</ion-label>
        <ion-note item-end color="text">{{select.pay}}</ion-note>
      </button>
      <ion-item *ngIf="link.ispay" class="optional mul">
        <ion-label stacked class="font16">收费标准</ion-label>
        <ion-textarea area formControlName="chargeStd" rows="2" text-left placeholder="请填写收费标准"></ion-textarea>
      </ion-item>
      <button ion-item (touch)="alert('3')">
        <ion-label>是否申请技术支持</ion-label>
        <ion-note color="text" item-end>{{select.support}}</ion-note>
      </button>
      <ion-item *ngIf="link.issupport" class="optional mul">
        <ion-label stacked class="font16">内容描述</ion-label>
        <ion-textarea area formControlName="techSuptDesc" rows="2" text-left placeholder="请填写申请技术支持原因及业务详情"></ion-textarea>
      </ion-item>
      <ion-item class="optional">
        <ion-label fixed>计划学校数</ion-label>
        <ion-input type="number" placeholder="请填写计划学校数" formControlName="schoolNum"></ion-input>
      </ion-item>
      <ion-item class="optional">
        <ion-label fixed>计划考生数</ion-label>
        <ion-input type="number" placeholder="请填写计划考生数" formControlName="studentNum"></ion-input>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>
<ion-footer *ngIf="dateModal">
  <ion-toolbar>
    <submiton event="sheetCreate" (onClick)="submit()" [state]="formgroup.valid&&this.event.st&&this.event.et?nativePro.loadRunning:undefined">提交工单</submiton>
  </ion-toolbar>
</ion-footer>
<ion-datetime *ngIf="dateModal" (ionChange)="picker()" #datetime [min]="event.min" [max]="event.max" [(ngModel)]="event.time"
  displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" cancelText="取消" doneText="完成">
</ion-datetime>
